<!DOCTYPE html>
<html>
<head>
    <title>Display ex02_movies</title>
    <meta charset="UTF-8">
</head>
<body>
    <div >
        <table>
            <tbody>
                <tr>
                    <td>
                        <p>Titre</p>
                    <td>
                    <td>
                        <p>Episode</p>
                    <td>
                    <td>
                        <p>Synopsis</p>
                    <td>
                    <td>
                        <p>Director</p>
                    <td>
                    <td>
                        <p>Producer</p>
                    <td>
                    <td>
                        <p>Realease date</p>
                    <td>
                </tr>
                {% for info in Films %}
                        <tr>
                            <td>
                                <p> {{ info.0 }} </p>
                            <td>
                            <td>
                                <p> {{ info.1 }} </p>
                            <td>
                            <td>
                                {% if info.2 == None %}
                                    <p>No data available</p>
                                {% else %}
                                    <p> {{ info.2 }} </p>
                                {% endif %}
                            <td>
                            <td>
                                <p> {{ info.3 }} </p>
                            <td>
                            <td>
                                <p> {{ info.4 }} </p>
                            <td>
                            <td>
                                <p> {{ info.5 }} </p>
                            <td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
