h1          {
    font-family:  "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    color: blue;
    font-size: 92px;
    padding: 80px 60px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
*  {
    font-family:Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
    color:blue;
}