{% extends 'ex/base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}

<div>
  <h1>Articles</h1>
  <h3>Share your writings</h3>
  <div>
    <table>
      <tr>
        <th>title</th>
        <th>synopsis</th>
        <th>author</th>
        <th>created</th>
        {% comment %} <th>when</th> {% endcomment %}
        <th></th>
      </tr>
      {% for article in object_list %}
      <tr>
        <td>{{ article.title|truncatechars:20 }}</td>
        <td>{{ article.synopsis|truncatechars:20 }}</td>
        <td>{{ article.author }}</td>
        <td>{{ article.created }}</td>
        {% comment %} <td>{{ article.created|timesince}}</td> {% endcomment %}
        {% comment %} <td>
          <a href="{% url 'articles_detail' article.id %}">Read</a>
        </td> {% endcomment %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
