{% extends 'ex/base.html' %} {% block title %}

{{ user.username }}'s Publications{% endblock title %}

{% block content %}
<h1>{{ user.username }}'s Publications</h1>
<div>
  <div>
    <table>
      <tr>
        <th>title</th>
        <th>synopsis</th>
        <th>created</th>
        <th></th>
      </tr>
      {% for article in object_list %}
      <tr>
        <td>{{ article.title|truncatechars:20 }}</td>
        <td>{{ article.synopsis|truncatechars:20 }}</td>
        <td>{{ article.created }}</td>
        <td>
    	  <a href="{% url 'articles_detail' article.id %}">Read</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content %}