{% extends 'messenger/base.html' %}
{% load bootstrap3 %}
{% block title %}Register{% endblock title %}
{% load i18n %}
{% block content %}
{% include 'messenger/nav.html' %}
<div>
  <h2 style="margin-left: 20px; ">{% trans 'Register' %}</h2>
  <div>
	<form style="margin-left: 20px;padding: 5px; width : 80%; border: 1px solid ; border-radius: 5px; " action="" method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit">
	</form>
	{{ message }}
  </div>
</div>
{% endblock %}