<!DOCTYPE html>
<html>
<head>
    <title>Update ex07_movies</title>
	<meta charset="UTF-8">
</head>
<body>
    <div >
		<label for="movie-select">Choose a movie to update:</label>
		<form name="buttons" action="" method="post">
        	{% csrf_token %}
				<select name="Key">
				{% for info in Films %}
					<option value="{{ info.1 }}">{{ info.0 }}</option>
				{% endfor %}
				<input type="text" name="op"><br><br>
                <input id="update" name="btn_rupdate" type="submit" value="update">
				</select>
    	</form>
    </div>
</body>
</html>
