{% load static %}
{% load bootstrap3 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <style>
        th {
            text-transform: capitalize;
        }
    </style>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
</head>
<body>
        {% block content %}
        <h1>{{ request.path }}</h1>
        {% endblock content %}
       
</body>

</html>